*
  // border: 1px solid grey
  
.Header
  display: flex
  justify-content: center

  .header-area
    display: flex
    justify-content: center
    align-items: center
    width: 100%

    .logo-wrapper
      a
        display: contents

        img
          display: block
          height: 4em

    .nav-wrapper
      display: flex
      position: absolute
      justify-content: center
      align-items: center
      left: 2em

      .DarkmodeSwitch
        display: none

      .menu-wrapper
        display: flex
        align-items: center


  @media screen and (min-width: 700px)
    .header-area
      margin: 1em 0
      justify-content: left
      width: 80%
      max-width: 1600px

      .logo-wrapper
        a
          img
            height: 5em

      .nav-wrapper
        display: flex
        position: relative
        justify-content: right
        align-items: center
        width: 100%
        height: 100%
        left: 0

        .DarkmodeSwitch
          margin: 0 1em
          display: flex
